/*-------Nav Bar------*/
@mixin border($orientation, $ancho, $tipo, $color) {
    #{$orientation}: $tipo $ancho $color;
}

header {
    height: 0;
    nav {
        position: absolute;
        z-index: 100;
        top: 2em;

        .a-logo {            
            position: absolute;            
            left: 0.7em;
            top: -1em;       
            
            .logo {
                width: 50%;              
            }
                        
            @media screen and (min-width: 990px){
                .logo {
                    width: 70%;                    
                }
            }            
        }
        @media screen and (min-width: 990px){
            .a-logo {
                left: 10.5em;    
                top: -2em;                  
            }
        } 

        .navbar-nav {            
            .bord-item {      
                line-height: 29px;      
                display: flex;  
                align-items: center;
                margin-bottom: 0.5em;            
            }   
            .item-home {
                opacity: 0;
            }                 
            @media screen and (min-width: 990px){
                .bord-item {                    
                    border: none;
                    @include border (border-left, 2px, dashed, white); 
                    &:hover{                    
                        text-shadow: 4px 4px 4px saddlebrown;
                        transform: translateY(-4px);
                        background: none;
                    }
                }
                .item-home {
                    opacity: 1;
                }
            }
            a {
                padding: 0;
                transition: all .3s;

                &:hover{                    
                    text-shadow: 4px 4px 4px saddlebrown;
                    transform: translateY(-8px);
                    background: rgba(255,255,255,.5)
                }
            }        
        }
    }
}
/*------Slide-----*/
#prev {
    width: 4em;      
    opacity: 1;
    span {
        background: rgba($color: #271607, $alpha: .8);

    }    
}

#text-slide {
    background: rgba($color: #271607, $alpha: .8);
    width: 40%;
    padding: 1em;
    margin-left: 40%; 
}

/*------Border Style--------*/
.bord-item {
    @include border (border-bottom, 1px, solid, white);
}
.border-h2 {
    @include border(border-bottom, 3px, dotted, #999999)
}

/*Mi parte*/

.fondo{
    background-color: #645445;
  }
  
  .loja{
    display: flex;
    color: black;
    background-color: #E8E1CF;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 3px;
    float: right;
    margin-right: 20px;
  }
  
  .email{
    margin-right: 20px;
  }
  
  .loja i{
    padding: 5px;
    font-size: 40px;
  }
$warning: #EA9B1B;
$danger: #503222;
$font-family-sans-serif: Arial; 

@import "../node_modules/bootstrap/scss/bootstrap.scss";