// ---Mixinig
//--------------------------
// ---Header.

header {
    background-image: url("../img/forest-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
}

// ---Title
.title-container {
    p {
        font-family: 'Caveat', cursive;
    }

    .title {
        h1 {
        font-size: 35px;
        color: #fff;
        font-weight: 1000;
        }
        a{
            display: inline-block;
            text-decoration: none;
            padding: .3em 1.1em;  
            font-size: 20px;  	
        }
    }    
}

// ---Imagen Main

.img-main {
    img {
        filter: brightness(80%);
    }
}

//---carrusel



.slide{
    width:30%;
    margin: 50px auto;
    
}

.carousel-item{
    padding: 70px;
    
    
}

.carousel-item h5 p {
    margin-bottom: 50px;
}

.d-block{
    border: solid #A98729 2px;
    padding-bottom: 30px;
}

.numero{
    margin-bottom: 50px;
}

div h5{
    color: #A98729;
}

.container-fluid{
    background-color:#181B1E;
}

hr{
    background: white;
}


// -----Customm Variables.
$marron:#1C1B1A;
$warning: #A98729;
$font-family-sans-serif: 'Roboto', sans-serif;

@import"../node_modules/bootstrap/scss/bootstrap.scss";
